# Виртуальное окружение
venv/
env/
.env/
.env
venv.bak/

# Python
__pycache__/
*.py[cod]
*.so
.Python
.python_version


# Файлы VS Code
.vscode/
*.code-workspace

# Логи и временные файлы
*.log
*.tmp
*.bak
logs/

# Системные файлы
.DS_Store
Thumbs.db

# Отладочные файлы
*test*.*
!tests/test_api_client.py
!tests/test_loader.py

# БД для разработки
*.db

# Airflow
airflow/logs/

.ruff_cache/
.pytest_cache/


# Еженедельные отчеты
weekly_report_*.xlsx

# dbt
target/
dbt_packages/