DB_USER=some_db_user
DB_PWD=some_db_user_password
DB_NAME=some_db_name

# пароли read-only пользователей БД для датасорсов grafana,
# должны совпадать с заданными в sql/init_grafana_user.sql и sql/init_airflow_reader.sql
GRAFANA_PWD=some_grafanareader_password
AIRFLOW_READER_PWD=some_airflowreader_password

# почта для получения excel отчета и алерта
MAIL_TO=recipient_login@example.com

# или другой smtp сервер
SMTP_HOST=smtp.yandex.ru:465
SMTP_USER=your_login@yandex.ru
SMTP_PWD=пароль_приложения
SMTP_FROM_ADDRESS=your_login@yandex.ru
# значения с пробелами - в кавычках
SMTP_FROM_NAME="Grafana Alerting"
