DB_USER=some_db_user
DB_PWD=some_db_user_password
DB_NAME=some_db_name

# почта для получения excel отчета и алерта
MAIL_TO=recipient_login@example.com

SMTP_HOST=smtp.yandex.ru:465 # или другой
SMTP_USER=your_login@yandex.ru
SMTP_PWD=пароль_приложения
SMTP_FROM_ADDRESS=your_login@yandex.ru
SMTP_FROM_NAME=Grafana Alerting
